.section {
    
    padding: 1em;
    margin: 1em;
    display: flex;
    
}
.clearfix {
    overflow: auto;
  }

img {
    overflow: auto;
  }

.background_img {
    background-image: url('../photos/table-mountain.jpg');
    background-size: 100% 50%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    padding: 1em;
}
th, td {
    border:0.1px solid;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .row-1 {
    display: flex;
    
  }
  
  .column-1 {
    display: flex;
    padding: 10px;
  }

  .center {
    text-align: center;
    margin: auto;
  }

  .container {
    width: 90%;
    margin: auto;
  }


  
@media only screen and (max-width: 60em) { 
.intro,
.which-city,
.historic-places {
  flex-direction: column;
}
.float-left {
  float: left;
  padding: 10px;
}
}

.float-right {
  float: right;
  padding: 10px;
 } 

.float-left1 {
  float: left;
  padding: 10px;
}

.text {
  text-align: justify;
}

@media only screen and (min-width: 60em) {
  .float-right1 {
    float: right;
    padding: 10px;
   } 
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media(max-width: 60em) {
  .paris {
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}